
manifest {
	name = 'https://github.com/jkirangw/WORMpipe'
	author = 'Joseph  Kirangwa'
	homePage = 'http://worm-lab.eu/'
	description = 'Worm Long Read Analysis Pipeline'
	mainScript = 'WORMpipe.nf'
	version = '1.0.0'
}

// create pipeline parameters

params {

	read = "$PWD/312-11_deduplicated.ccs.fastq"
	outdir = "results"
	threads = 32
	assembler = "hifiasm"
        help = false	
}


// timeline report

timeline {
        enabled = true
        file = "$params.outdir/timeline.html"
}




